<div class="layui-tab layui-tab-fixed layui-tab-brief">
  <ul class="layui-tab-title">
    <li class="layui-this">基本配置</li>
    <li>Parameter Configuration</li>
  </ul>
  <div class="layui-tab-content editor-form-node">
    <div class="layui-tab-item layui-show">
    	<form class="layui-form">
			<div class="layui-row">
				<div class="layui-col-md3">
					<div class="layui-form-item">
						<label class="layui-form-label">Question Name</label>
						<div class="layui-input-block">
							<input type="text" name="value" placeholder="Please enter the first alternative name" value="{{=d.value}}" autocomplete="off" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-col-md3">
					<div class="layui-form-item">
						<label class="layui-form-label">10 MB</label>
						<div class="layui-input-block">
							<input type="text" name="nodeVariableName" placeholder="Please enter a node variable（Default to resp）" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.nodeVariableName}}">
						</div>
					</div>
				</div>
				<div class="layui-col-md3">
					<div class="layui-form-item">
						<label class="layui-form-label">Cycle Variable</label>
						<div class="layui-input-block">
							<input type="text" name="loopVariableName" placeholder="Please enter a loop variable" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.loopVariableName}}">
						</div>
					</div>
				</div>
				<div class="layui-col-md3">
					<div class="layui-form-item">
						<label class="layui-form-label">Number of cycles</label>
						<div class="layui-input-block">
							<input type="text" name="loopCount" placeholder="Enter the number of cycles" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.loopCount}}">
						</div>
					</div>
				</div>
			</div>
    		<div class="layui-row">
				<div class="layui-col-md6">
					<div class="layui-form-item">
						<label class="layui-form-label">Add a reminder</label>
						<div class="layui-input-block">
							<input type="number" name="pageLoadTimeout" placeholder="Enter the time to wait before a page is considered loaded." autocomplete="off" class="layui-input input-default" value="{{=d.data.object.pageLoadTimeout}}">
						</div>
					</div>
				</div>
				<div class="layui-col-md6">
					<div class="layui-form-item">
						<label class="layui-form-label">Getting element timed out</label>
						<div class="layui-input-block">
							<input type="number" name="implicitlyWaitTimeout" placeholder="Please enter the time after which to notify the user that the battery is low." autocomplete="off" class="layui-input input-default" value="{{=d.data.object.implicitlyWaitTimeout}}">
						</div>
					</div>
				</div>
			</div>
			<div class="layui-row">
				<div class="layui-col-md3">
					<div class="layui-form-item">
						<label class="layui-form-label">Drive Type</label>
						<div class="layui-input-block">
							<select name="driverType">
								<option value="chrome" {{d.data.object.driverType=='chrome' ? 'selected': ''}}>chrome</option>
								<option value="firefox" {{d.data.object.driverType=='firefox' ? 'selected': ''}}>firefox</option>
							</select>
						</div>
					</div>
				</div>
				<div class="layui-col-md9">
					<div class="layui-form-item">
						<label class="layui-form-label">Request URL</label>
						<div codemirror="url" placeholder="Please enter the following text: url" data-value="{{=d.data.object.url}}" autocomplete="off" class="layui-input-block"></div>
					</div>
				</div>
			</div>
			<div class="layui-row">
				<div class="layui-col-md11">
					<div class="layui-form-item">
						<label class="layui-form-label">Remote Drive Address</label>
						<div class="layui-input-block">
							<input type="text" name="remote-webdriver-url" placeholder="http://localhost:4444" value="{{=d.data.object['remote-webdriver-url']}}" autocomplete="off" class="layui-input">
						</div>
					</div>
				</div>
			</div>
			<div class="layui-row">
				<div class="layui-col-md4">
					<div class="layui-form-item">
						<label class="layui-form-label">代理</label>
						<div codemirror="proxy" placeholder="host:port" data-value="{{=d.data.object.proxy}}" autocomplete="off" class="layui-input-block"></div>
					</div>
				</div>
				<div class="layui-col-md8">
					<div class="layui-form-item">
						<label class="layui-form-label">Request Settings</label>
						<div class="layui-input-block">
							<input type="checkbox" title="Auto ManagementCookie" value="cookie-auto-set" lay-skin="primary" {{d.data.object['cookie-auto-set'] == '0' ? '' : 'checked'}}/>
						</div>
					</div>
				</div>
			</div>
    	</form>
    </div>
    <div class="layui-tab-item">
    	<form class="layui-form">
			<div class="layui-form-item">
				<label class="layui-form-label">Size of the assistant window</label>
				<div class="layui-input-block">
					<input type="text" name="window-size" placeholder="1366,768" value="{{=d.data.object['window-size']}}" autocomplete="off" class="layui-input input-default">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">User-Agent</label>
				<div class="layui-input-block">
					<input type="text" name="user-agent" placeholder="" value="{{=d.data.object['user-agent']}}" autocomplete="off" class="layui-input input-default">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">Small hail</label>
				<div class="layui-input-block">
					<input type="checkbox" title="Headless Mode" value="headless" lay-skin="primary" {{d.data.object['headless'] === '1' ? 'checked' : ''}}/>
					<input type="checkbox" title="Use JS" value="javascript-disabled" lay-skin="primary" {{d.data.object['javascript-disabled'] === '1' ? 'checked' : ''}}/>
					<input type="checkbox" title="Photo disable" value="image-disabled" lay-skin="primary" {{d.data.object['image-disabled'] === '1' ? 'checked' : ''}}/>
					<input type="checkbox" title="The plugin list contains some obsolete plugins. Enabling them will not have any effect." value="plugin-disable" lay-skin="primary" {{d.data.object['plugin-disable'] === '1' ? 'checked' : ''}}/>
					<input type="checkbox" title="Use Java" value="java-disable" lay-skin="primary" {{d.data.object['java-disable'] === '1' ? 'checked' : ''}}/>
					<input type="checkbox" title="Invisible Mode" value="incognito" lay-skin="primary" {{d.data.object['incognito'] === '1' ? 'checked' : ''}}/>
					<input type="checkbox" title="Sandbox Mode" value="sandbox" lay-skin="primary" {{d.data.object['sandbox'] === '1' ? 'checked' : ''}}/>
					<input type="checkbox" title="Hide Scrollbars" value="hide-scrollbar" lay-skin="primary" {{d.data.object['hide-scrollbar'] === '1' ? 'checked' : ''}}/>
					<input type="checkbox" title="Maximize" value="maximized" lay-skin="primary" {{d.data.object['maximized'] === '1' ? 'checked' : ''}}/>
					<input type="checkbox" title="Use GPU Accelerator" value="gpu-disable" lay-skin="primary" {{d.data.object['gpu-disable'] === '1' ? 'checked' : ''}}/>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">arguments</label>
				<div class="layui-input-block">
					<textarea class="layui-textarea" name="arguments" placeholder="One row of seats">{{=d.data.object['arguments']}}</textarea>
				</div>
			</div>
	   	</form>
    </div>
  </div>
</div>